@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.headerTxt{
    position: absolute;
width: 755px;
height: 82px;
left: 54px;
top: 231px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 47px;

color: #000000;
}

.headerdis{
       position: absolute;
height: 82px;
left: 130px;
top: 331px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 47px;

color: #000000; 
}

.A{
    position: absolute;
width: 408.03px;
height: 386.37px;
left: 24px;
top: 446.98px;
}

.B{
       position: absolute;
width: 408.03px;
height: 386.37px;
left: 482px;
top: 446.98px; 
}

.C{
           position: absolute;
width: 408.03px;
height: 386.37px;
left: 940px;
top: 446.98px;
}

.AO{
    position: absolute;
width: 407px;
height: 142px;
left: 24px;
top: 856px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 165% */


color: #999191;
}

.BO{
    position: absolute;
width: 407px;
height: 142px;
left: 482px;
top: 856px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 165% */


color: #999191;


}

.CO{
    position: absolute;
width: 407px;
height: 142px;
left: 940px;
top: 856px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 165% */


color: #999191;

}