.footer{
    position: relative;
width: 100%;
height: 184px;
left: 0px;
top: 857px;

background: #09B44D;
}

.footerText{
    position: absolute;
width: 55px;
height: 23px;
left: 720px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.footerText2{
    position: absolute;
height: 23px;
left: 840px;
top:5px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.footerText3{
    position: absolute;
height: 23px;
left: 980px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.footerText4{
    position: absolute;
height: 23px;
left: 1120px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.terms{
    position: absolute;
width: 309px;
height: 20px;
left: 994px;
top: 80px;
}

.termText{
    position: absolute;
width: 309px;
height: 26px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
/* identical to box height */

text-decoration-line: underline;

color: #000000;
}

.copyRights{
    position: absolute;
width: 349px;
height: 18px;
left: 950px;
top: 120px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 26px;

color: #000000;
}

.footer-img{
    height: 96px;
    margin-top: 80px;
    margin-left: -1000px;
}