@import url('https://rsms.me/inter/inter.css');

.logo {
  position: absolute;
  width: 102px;
  height: 90px;
  left: 34px;
  top: 15px;
}

.header {
  position: absolute;
  height: 39px;
  left: 160px;
  top: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #09b44d;
}

.bar{
    position: absolute;
width: 100%;
height: 70px;
left: 0px;
top: 121px;

background: #09B44D;
}

.navBarText{
    position: absolute;
width: 55px;
height: 23px;
left: 19px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.navBarText2{
    position: absolute;
height: 23px;
left: 136px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.navBarText3{
    position: absolute;
height: 23px;
left: 277px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.navBarText4{
    position: absolute;
height: 23px;
left: 422px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

.navBarText5{
position: absolute;
height: 23px;
left: 600px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 23px;
/* identical to box height */


color: #000000;
}
