@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.table__div{
    position: absolute;
width: 1146px;
height: 474px;
left: 162px;
top: 280px;

background: #F6F6F6;
border-radius: 12px;
}

.table__title{
    width: 143px;
height: 21px;
margin-left: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 21px;
/* identical to box height, or 105% */


color: #212121;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.table__des{
    width: 212px;
height: 21px;
margin-left: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 21px;
/* identical to box height, or 175% */


color: #B5B5C3;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.button-10 {
  position: absolute;
width: 150px;
height: 35px;
right: 107.11px;
top: 34px;
  background-color: #c2fbd7;
  border-radius: 6px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.table__header{
    position: absolute;
height: 45px;
left: 99px;
right: 103px;
top: 98px;

background: #D0F1DD;
border-radius: 6px;
}

.th__1{
    position: absolute;
width: 158px;
height: 18px;
left: 13px;
top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #464E5F;
}

.th__2{
    position: absolute;
width: 158px;
height: 18px;
left: calc(42% - 158px/2 - 62px);
top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #B5B5C3;
}

.th__3{
    position: absolute;
width: 158px;
height: 18px;
left: calc(45% - 158px/2 + 121px);
top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #B5B5C3;
}

.th__4{
    position: absolute;
width: 158px;
height: 18px;
left: calc(45% - 158px/2 + 304px);
top: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #B5B5C3;
}

.td__1{
    position: absolute;
width: 217px;
height: 24px;
margin-left: 55px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #464E5F;
}

.td__2{
    position: absolute;
width: 90px;
height: 24px;
left: calc(42% - 158px/2 - 62px);

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #464E5F;
}

.td__3{
    position: absolute;
width: 10px;
height: 24px;
left: calc(45% - 158px/2 + 121px);

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #464E5F;
}

.td__4{
    position: absolute;
width: 90px;
height: 24px;
left: calc(45% - 158px/2 + 304px);

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #464E5F;
}

.button-11{
position: absolute;
width: 129px;
height: 34px;
right: 111px;
  background-color: #c2fbd7;
  border-radius: 6px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(223, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-11:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.button-67 {
  position: absolute;
width: 150px;
height: 35px;
right: 300px;
top: 34px;
  background-color: #c2fbdc;
  border-radius: 6px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-67:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}